{{
response.title='EasyRoom'
response.subtitle='Chore Chart'
response.intro = "A chore chart for the house; house member can add chore to the chart."
response.intro2= "Member check the corresponding checkbox when a chore is complete."
}}

{{extend "layout.html"}}
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<link rel="stylesheet" href="{{=URL('static','css/stupid.css')}}">
<link rel="stylesheet" href="{{=URL('static','css/chore_chart.css')}}">

<script>
 var add_chore_url = "{{=URL('api', 'add_chore', user_signature=True)}}";
 var get_chore_list_url = "{{=URL('api', 'get_chore_list', user_signature=True)}}";
 var current_user = "{{=None if auth.user is None else auth.user.email}}";
</script>
{{end}}

<body>
  <div id="vue-div" class="display:none">

        <button v-if="!show_form" v-on:click= "show_form=true"> Add Chore</button>
        <div class="container form_row" v-if="show_form">
          <div class="third">
            Chore Name:
          </div>
          <div class="third">
            <input v-model="form_title" placeholder="Enter Chore Name"/>
            <button class="small" id="add-chore" v-on:click= "add_chore"> Submit</button>
            <button class="small" id="add-chore" v-on:click= "show_form = false"> Cancel</button>
          </div>
        </div>

        <table class="chore_chart fill" id="chart">
          <thead>
            <tr><td>Chore</td><th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th>
            <th>Thu</th><th>Fri</th><th>Sat</th></tr>
          </thead>
          <tbody>
            <div v-if="chore_list.length === 0">There are no chores.</div>

            <div class="chore_list">
                <tr v-for="chore in chore_list"><th>${chore.chore_title}</th>
                    <td><input type="checkbox" style="text-align:center;" name="0" v-on:click= "update_checkbox(this)"/></td>
                    <td><input type="checkbox" style="text-align:center;" name="1"/></td>
                    <td><input type="checkbox" style="text-align:center;" name="2"/></td>
                    <td><input type="checkbox" style="text-align:center;" name="3"/></td>
                    <td><input type="checkbox" style="text-align:center;" name="4"/></td>
                    <td><input type="checkbox" style="text-align:center;" name="5"/></td>
                    <td><input type="checkbox" style="text-align:center;" name="6"/></td></tr>
            </div>
          </tbody>
        </table>

                <button onclick="uncheck_all()">Clear Chart</button>
                <script>
                function uncheck_all() {
                    let i=0;
                    while(document.getElementsByName("0")[i]){
                    document.getElementsByName("0")[i].checked = false;
                    document.getElementsByName("1")[i].checked = false;
                    document.getElementsByName("2")[i].checked = false;
                    document.getElementsByName("3")[i].checked = false;
                    document.getElementsByName("4")[i].checked = false;
                    document.getElementsByName("5")[i].checked = false;
                    document.getElementsByName("6")[i].checked = false;
                    i++;
                    }
                }
                </script>

    </div>

</body>


<script src="{{=URL('static', 'js/choreChart.js')}}"></script>
