
{{
response.title='EasyRoom'
response.subtitle='Calendar/Reminders'
response.intro ="This section provides a calendar view for the housemates."\
"   It offers single-day/multi-day/days-of-week and time specification options for each reminder."
response.intro2 =" Each housemate can add and edit/remove their own reminder by clicking on it." \
"   To Remove a reminder, click on the reminder and clear the title." \
"GREEN reminder means you are the author, RED means it's someone else's."

}}
<script src="{{=URL('static', 'js/jquery.min.js')}}"></script>
{{extend "layout.html"}}

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<link rel="stylesheet" href="{{=URL('static','css/fullcalendar.print.css')}}" media="print">
<link rel="stylesheet" href="{{=URL('static','css/fullcalendar.min.css')}}">
<script src="{{=URL('static', 'js/moment.min.js')}}"></script>
<script src="{{=URL('static', 'js/fullcalendar.min.js')}}"></script>
<script src="{{=URL('static', 'js/jquery-ui.min.js')}}"></script>
<link rel="stylesheet" href="{{=URL('static','css/myapp.css')}}">

{{block head}}
 <script>
 var add_reminder_url = "{{=URL('api', 'add_reminder', user_signature=True)}}";
 var get_reminder_list_url = "{{=URL('api', 'get_reminder_list', user_signature=True)}}";
 var current_user = "{{=None if auth.user is None else auth.user.email}}";
 var edit_reminder_name_url = "{{=URL('api', 'edit_reminder_name', user_signature=True)}}";
 var remove_reminder_url = "{{=URL('api', 'remove_reminder', user_signature=True)}}";
 var get_house_name_url = "{{=URL('api', 'get_house_name', user_signature=True)}}";
 </script>
{{end}}

<body>
  <div id="vue-div">

      <div class="button_pad">
        <button  class="my_button " v-if="!show_reminder_form & !show_options & !time_options" v-on:click="show_options = true"> Add Reminder</button>
      </div>

      <div v-if="show_options & !show_reminder_form" >
          Select one of the following reminder duration <br>
          <input type="checkbox" class="reminder_type"  v-on:click="single_day=true; show_options=false;time_options=true"/> Single-Day<br>
          <input type="checkbox" class="reminder_type" v-on:click="multi_day=true; show_options=false;time_options=true"/> Multi-Day <br>
          <input type="checkbox" class="reminder_type" v-on:click="repeat_b=true; show_options=false;time_options=true"/> Repeat for Days of Week <br>

      </div>

      <div v-if="time_options">
          Do you want to specify time? (No -> All-day event) <br>
          <input type="checkbox" v-on:click="choose_time = true; time_options=false; show_reminder_form=true;"/> Yes <br>
          <input type="checkbox" v-on:click="choose_time=false; time_options=false; show_reminder_form=true;"/> No <br>
      </div>


      <div v-if="show_reminder_form">

      <div id="add_reminder" >
        <div class="form_row">
          <div class="label">
            Title:
          </div>
          <div class="form">
            <input v-model="form_title" placeholder="Enter Reminder Title"/>
          </div>
        </div>

        <div class="form" v-if="single_day">
          <div class="label">
            Date: YYYY-MM-DD
          </div>
          <div class="form">
            <textarea v-model="form_start_date" placeholder="Enter Start date "></textarea>
          </div>
        </div>

        <div class="form" v-if="multi_day">
          <div class="label">
            Start Date: YYYY-MM-DD
          </div>
          <div class="form">
            <textarea v-model="form_start_date" placeholder="Enter Start date "></textarea>
          </div>
        </div>

        <div class="form" v-if="choose_time">
          <div class="label">
            Start Time: HH:MM
          </div>
          <div class="form">
            <textarea v-model="form_start_time" placeholder="Enter Start time "></textarea>
          </div>
        </div>

          <div class="form_row" v-if="multi_day">
            <div class="label">
            End Date: YYYY-MM-DD
            <div class="form">
            <textarea v-model="form_end_date" placeholder="Enter End date "></textarea>
          </div>
            </div>
        </div>

        <div class="form" v-if="choose_time">
          <div class="label">
            End Time: HH:MM
          </div>
          <div class="form">
            <textarea v-model="form_end_time" placeholder="Enter End time "></textarea>
          </div>
        </div>
        <div class = "select repeat" v-if="repeat_b">
           <div class = "chore_type" id="repeat_for">
            Select the days to be repeated:<br>
            <input type="checkbox" name= "repeat" value='0'/> Sunday
            <input type="checkbox" name= "repeat" value='1'/> Monday
            <input type="checkbox" name= "repeat" value='2'/> Tuesday
            <input type="checkbox" name= "repeat" value='3'/> Wednesday<br>
            <input type="checkbox" name= "repeat" value='4'/> Thursday
            <input type="checkbox" name= "repeat" value='5'/> Friday
            <input type="checkbox" name= "repeat" value='6'/> Saturday
           </div>
        </div>


            <div class="final_button">
              <button id="add-reminder" v-on:click="add_reminder">Submit</button>
                <button v-on:click="show_reminder_form=false;single_day=false;multi_day=false;choose_time=false;show_options=false;time_options=false; repeat_b = false">Cancel</button>
            </div>
      </div>

     </div>   <!-- end show_form -->
  </div>
      <div id="calendar"></div>
</body>



<style>


  body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }



</style>

<script src="{{=URL('static', 'js/myCalendar.js')}}"></script>