/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
div.main_content {
  padding: 16px;
}
/* line 8, ../sass/_main.scss */
div.main_content div.form_row {
  margin-top: 8px;
  margin-bottom: 8px;
}
/* line 13, ../sass/_main.scss */
div.main_content div.post_div {
  margin: 4px;
  border: 4px #a9def9 solid;
  padding: 4px;
   background-color: #f5f5f5;
}
/* line 18, ../sass/_main.scss */
div.main_content div.post_div .post_title {
    font-size: 120%;
}
/* line 22, ../sass/_main.scss */
div.main_content i.changed {
  color: #777777;
}

div.main_content div.display_reply div.reply{
 margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  padding:5px;
  border: 2px #a9def9 solid;
}
div.button_pad{
	margin: 20px;
}

div.make_bold{
    font-weight:bold;

}

.my_button{padding:0.5em 1em; margin:0 0.5em 0.5em 0; display:inline-block; background-color: #1496e4; color:white}
.my_button:hover{box-shadow:0 0 10px #666; text-decoration:none; cursor:pointer}

table td
{
  table-layout:fixed;
  overflow:hidden;
  word-wrap:break-word;
  text-align: left; /* center checkbox horizontally */
  vertical-align: middle; /* center checkbox vertically */

}



div.main_content div.contact_info {
  margin:10px;
  border: 4px #a9def9 solid;
    padding-left: 80px;
   background-color: #f5f5f5;
    padding-bottom:10px;
}

@media all and (min-width:800px) {
  .max900 {max-width:900px}
  .quarter {width:25%; margin-right:-5px}
  .half {width:50%; margin-right:-10px}
  .third {width:33.33%; margin-right:-6.66px}
  .twothirds {width:66.66%; margin-right:-13.33px}
  .threequarters {width:75%; margin-right:-15px}
}
@media all and (min-width:600px) and (max-width:799px) {
  .quarter.compressible {width:25%; margin-right:-5px}
  .half.compressible {width:50%; margin-right:-10px}
  .threequarters.compressible {width:75%; margin-right:-15px}
  .quarter:not(.compressible), .half:not(.compressible), .threequarters:not(.compressible) {width:100%; margin-right:-20px}
  .third {width:33.33%; margin-right:-6.66px}
  .twothirds {width:66.66%; margin-right:-13.33px}
  label.quarter:not(.compressible).right, label.half:not(.compressible).right, label.threequarters:not(.compressible).right   {float:left; text-align:left}
}
@media all and (max-width:599px) {
  .quarter:not(.compressible), .half:not(.compressible), .third:not(.compressible), .twothirds:not(.compressible), .threequarters:not(.compressible) {width:100%;}
  label.quarter:not(.compressible).right, label.half:not(.compressible).right, label.threequarters:not(.compressible).right,
  label.third:not(.compressible).right, label.twothirds:not(.compressible).right   {float:left; text-align:left}
  .quarter.compressible {width:25%; margin-right:-5px}
  .half.compressible {width:50%; margin-right:-10px}
  .third.compressible {width:33.33%; margin-right:-6.66px}
  .twothirds.compressible {width:66.66%; margin-right:-13.33px}
  .threequarters.compressible {width:75%; margin-right:-15px}
}


